doctype html
html(lang="en")

  head

    // Meta-Information
    title ALL4YOU International Education and Counselling
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='ALL4YOU International Education and Counselling')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Vendor: Bootstrap Stylesheets http://getbootstrap.com
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')

    // Roboto Google font
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,latin-ext', rel='stylesheet')

    // Website CSS Styles
    link(rel='stylesheet', href='style.css')

    meta(name='robots', content='noindex, nofollow') 


  body(ng-app='all4you')
     
    nav.navbar.navbar-inverse.header-navigation
      .container
        .navbar-header

          .langswithermob

          a.navbar-brand(href='#')
            img(src='assets/images/header-logo.png')

          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar              

        #myNavbar.collapse.navbar-collapse

          ul.nav.navbar-nav.navbar-right.language_switcher
            li.active
              a(href='#') En
            li
              a(href='#') Tr

          ul.nav.navbar-nav.navbar-right.main-nav
            li
              a(href='index.html') Home
            li.active
              a(href='aboutus.html') About us
            li
              a(href='#') News
            li
              a(href='#') Services
            li
              a(href='#') Universities
            li
              a(href='#') Contact

    .container.PostWrapper

      .col-md-12.PostHeadline
        h1 About us

      .col-md-6.PostContent
        p ALL4YOU Overseas Education Consulting, providing consulting services related to training opportunities abroad, is a well-established organization. Our organization is the official representative  of  higher education  institutions providing education in English in Hungary, the Czech Republic, Slovakia, Bulgaria, Croatia, Romania and Serbia, as well as Austrian and German universities.

      .col-md-6.PostContent
        p ALL4YOU Overseas Education Consultancy is a dynamic family institution  with   its  long standing experience in  Hungary, Slovakia, the Czech Republic, Bulgaria, Latvia, Lithuania, Estonia, Austria, Germany, Croatia, Romania and Serbia and its aim is to provide you reliable support. It is our priority to please the students who will be trained in the countries in Europe that we have close heart and blood ties.

      .col-md-12.PostContent
        p
          a.fancybox(href='assets/images/demo/photo1.png')
            img.aligncenter.img-responsive(src='assets/images/demo/photo1.png', width="375", height="266")




    // Feature video block
    .container-fluid.content_block.feature_video_block
      .col-md-12
        .feature_content
          p.topheadline CNN TURK TV SHOW
          a.ftvilink(href='#')
            span.wcolor Watch out
            span.wcolor
              img(src="assets/images/icon4.png")
            span.scolor Intro Video

    // Feature photo gallery block
    .container-fluid.content_divider_horizontal

    // Feature photo gallery block
    .container-fluid.content_block.feature_photogall_block
      .col-md-12
        .feature_content
          p.topheadline FOTOS FROM EUROPEAN CITIES
          a.ftvilink(href='#')
            span.wcolor Feal The
            span.wcolor
              img(src='assets/images/icon5.png')
            span.scolor Europe

    // Content Wrapper
    .container-fluid.footer
      .col-md-12.Footer_hedline
        img(src='assets/images/footer-logo.png')

      .col-md-12.Footer_nav
        ul
          li
            a(href='#') HOME

          li
            a(href='#') ABOUT US

          li
            a(href='#') NEWS

          li
            a(href='#') SERVICES

          li
            a(href='#') UNIVERSITIES

          li
            a(href='#') CONTACT

        a.totoplink(href='#')
          img(src='assets/images/icon6.png')

      .col-md-12.Footer_bottomline
        p.copyright
          | ALL4YOU © 2016. 
          | All rights reserved.

        p.production
          | Design & Production:
          a(href='#') SamaDesign
          

















// Footer scripts
include assets/jade/footer-scripts-include.jade

