doctype html
html(lang="en")

  head

    // Meta-Information
    title ALL4YOU International Education and Counselling
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='ALL4YOU International Education and Counselling')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Vendor: Bootstrap Stylesheets http://getbootstrap.com
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')

    // Roboto Google font
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,latin-ext', rel='stylesheet')

    // Website CSS Styles
    link(rel='stylesheet', href='style.css')

    meta(name='robots', content='noindex, nofollow') 


  body(ng-app='all4you')(ng-controller='ScreenSize')
     
    nav.navbar.navbar-inverse.header-navigation 
      .container
        .navbar-header

          .langswithermob

          a.navbar-brand(href='#')
            img(src='assets/images/header-logo.png')

          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar              

        #myNavbar.collapse.navbar-collapse

          ul.nav.navbar-nav.navbar-right.language_switcher
            li.active
              a(href='#') En
            li
              a(href='#') Tr

          ul.nav.navbar-nav.navbar-right.main-nav
            li.active
              a(href='#') Home
            li
              a(href='#') About us
            li
              a(href='#') News
            li
              a(href='#') Services
            li
              a(href='#') Universities
            li
              a(href='#') Contact


    // Homepage Slider
    .container-fluid.slider
      include assets/jade/home-slider-html.jade

    // Services block
    .container-fluid.content_block.services_block
      .col-md-12.blockHead
        span.blockUpHeadline SERVICES
        h3.blockHeadline What We Offerr
        span.blockHeadBottomline

      .container
        .col-md-4.box
          .box-image
            img(src='assets/images/icon1.png')
          .box-title
            h3 Any branch you want at any university
          .box-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          .box-button
            a.button.button-primary(href='#') Read more

        .col-md-4.box
          .box-image
            img(src='assets/images/icon2.png')
          .box-title
            h3 Study in any university in any country
          .box-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          .box-button
            a.button.button-primary(href='#') Read more

        .col-md-4.box
          .box-image
            img(src='assets/images/icon3.png')
          .box-title
            h3 Second language and international diploma
          .box-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          .box-button
            a.button.button-primary(href='#') Read more

                                          

    // Vendor: Javascripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

    // Include Home Slider Scripts
    include assets/jade/home-slider-scripts.jade    

    // Vendor: Angular, followed by our custom Javascripts
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js')
    
    script.
      var app = angular.module('all4you', ['ngRoute']);    

    // Website Javascripts
    script(src='assets/js/main.min.js')
    script(src='assets/angular/main.min.js')




