// variables
$primary_font: Roboto, sans-serif
$primary_color: #2f3338
$primary_color_transparent: rgba(47,51,56,0.70)

// Body
body 
  font-family: $primary_font
  color: $primary_color
  font-weight: normal
  font-size: 14px

// Header
.navbar-inverse 
  background-color: $primary_color_transparent 
  background-image: none 
  border: none 
