doctype html
html(lang="en")

  head

    // Meta-Information
    title ALL4YOU International Education and Counselling
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='ALL4YOU International Education and Counselling')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Vendor: Bootstrap Stylesheets http://getbootstrap.com
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')

    // Roboto Google font
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,latin-ext', rel='stylesheet')

    // Website CSS Styles
    link(rel='stylesheet', href='style.css')

    meta(name='robots', content='noindex, nofollow') 


  body(ng-app='all4you')
     
    nav.navbar.navbar-inverse.header-navigation
      .container
        .navbar-header

          .langswithermob

          a.navbar-brand(href='index.html')
            img(src='assets/images/header-logo.png')

          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar              

        #myNavbar.collapse.navbar-collapse

          ul.nav.navbar-nav.navbar-right.language_switcher
            li.active
              a(href='#') En
            li
              a(href='#') Tr

          ul.nav.navbar-nav.navbar-right.main-nav
            li
              a(href='index.html') Home
            li
              a(href='aboutus.html') About us
            li
              a(href='#') News
            li
              a(href='services.html') Services
            li.active
              a(href='universities.html') Universities
            li
              a(href='#') Contact

    .container-fluid.universities
      .row
        .sidebar
          .sidTrigger
            p.open
              img(src='assets/images/sidTrigger-open.svg')
            p.close
              img(src='assets/images/sidTrigger-close.svg')

          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse1') HUNGARY
              #collapse1.panel-collapse.collapse.in
                .panel-body
                  ul
                    li
                      a.active HUNACA-Hungary Education Academy
                    li
                      a Budapest Unıversity of Semmelweis 
                    li
                      a University of Szeged 
                    li
                      a Budapest University of Technology and Economics
                    li
                      a University of Pecs
                    li
                      a University of Eötvös Lorand
                    li
                      a University of Dunaujvaros
                    li
                      a Universıty of Szent Istvan,Faculty of Veterinary
                    li
                      a IBS - International Business School
                    li
                      a Dennis Gabor College

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse2') SLOVAKIA
              #collapse2.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a University of Comenius
                    li
                      a Bratislava Slovak Technical University
                    li
                      a University of Košice Pavol Jozef Šafárik 
                    li
                      a Košice Veterinary University
                    li
                      a University of Košice Technology
                    li
                      a Constantine the Philosopher University in Nitra
                    li
                      a Bratislava Arts Academy
                    li
                      a Nitra Slovak Agriculture University
                    li
                      a Banská Bystrica Art Academy
                    li
                      a University of Banská Bystrica Matej Bel
                    li
                      a University of Prešov 
                    li
                      a University of Žilina
                    li
                      a Goethe University

              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse3') CHECH REPUBLIC
              #collapse3.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Brno University of Pharmacy
                    li
                      a University of Charles
                    li
                      a University of Anglo American
                    li
                      a Brno University of Technology

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse5') BULGARIA
              #collapse5.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Plovdiv Gıda Teknolojileri Üniversitesi
                    li
                      a Plovdiv Müzik ve Dans Akademisi
                    li
                      a Plovdiv Paissi Hiledarski Üniversitesi
                    li
                      a Plovdiv Teknik Üniversitesi
                    li
                      a Plovdiv Tıp Koleji
                    li
                      a Plovdiv Tıp Üniversitesi
                    li
                      a Plovdiv Ziraat ve Tarım Üniversitesi
                    li
                      a Ruse Angel Kanchev Üniversitesi
                    li
                      a Sofya Kliment Ohridski Üniversitesi
                    li
                      a Sofya Teknik Üniversitesi
                    li
                      a Sofya Tıp Üniversitesi
                    li
                      a Sofya Uluslararasi Ekonomi Üniversitesi
                    li
                      a Sofya Kimya Teknolojileri Ve Metalurji Üniversitesi
                    li
                      a Sofya Ormancılık Teknik Üniversitesi
                    li
                      a Sofya Sanat Akademisi
                    li
                      a Burgaz Free Üniversitesi
                    li
                      a Gabrovo Teknik Üniversitesi
                    li
                      a Burgaz Prof. Dr. Asen Zlatarov Üniversitesi
                    li
                      a Pleven Tıp Üniversitesi
                    li
                      a Plovdiv Avrupa Koleji
                    li
                      a Plovdiv Ekonomi ve Yönetim Koleji
                    li
                      a Stara Zagora Trakya Üniversitesi
                    li
                      a Sofya Spor Akademisi

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse6') AUSTRIA
              #collapse6.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Viyana Üniversitesi
                    li
                      a Viyana Ekonomi Üniversitesi
                    li
                      a Viyana Teknik Üniversitesi
                    li
                      a Viyana Ziraat Üniversitesi
                    li
                      a Viyana Tıp Üniversitesi
                    li
                      a Graz Karl Franzens Üniversitesi
                    li
                      a Graz Teknik Üniversitesi
                    li
                      a Graz Tıp Üniversitesi
                    li
                      a Salzburg Üniversitesi
                    li
                      a Salzburg Gösteri Sanatları ve Müzik Üniversitesi
                    li
                      a Linz Johannes Kepler Üniversitesi
                    li
                      a İnnsbruck Leopold-Franzens Üniversitesi
                    li
                      a Klagenfurt Alpen Adria Üniversitesi
                    li
                      a Leoben Montan Üniversitesi

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse7') GERMANY
              #collapse7.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Ludwig Maximilians Üniversitesi
                    li
                      a Heidelberg Üniversitesi
                    li
                      a Stuttgart Üniversitesi
                    li
                      a Berlin Özgür Üniversitesi
                    li
                      a Berlin Humboldt Üniversitesi
                    li
                      a Paderborn Üniversitesi
                    li
                      a Dortmund Teknik Üniversitesi
                    li
                      a Bonn Rheinische Üniversitesi
                    li
                      a Freiburg Üniversitesi
                    li
                      a Tübingen Üniversitesi
                    li
                      a Münih Teknik Üniversitesi

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse8') POLAND
              #collapse8.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a University of Vincent Pol
                    li
                      a Collegium Civitas

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse10') LATVIA
              #collapse10.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Riga Technical University
                    li
                      a Riga Graduate School of Law
                    li
                      a University of Latvia
                    li
                      a University of Stradins
                    li
                      a Ventspils University College

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse11') SERBIA
              #collapse11.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a University of Belgrade
                    li
                      a University of Novi Sad

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse12') ROMANIA
              #collapse12.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a University of Constanta Ovidius
                    li
                      a University of Carol Davilla
                    li
                      a University of Timisoara
                    li
                      a University of Arad

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse13') ENGLAND
              #collapse13.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a Global Banking School

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse14') UKRAINE
              #collapse14.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a National Technical University of Ukraine Kyiv Polytechnic Instit

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse15') CROATIA
              #collapse15.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a University of Rijeka
                    li
                      a University of Zagreb                                          
                    

            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapse16') LANGUAGE SCHOOLS
              #collapse16.panel-collapse.collapse
                .panel-body
                  ul
                    li
                      a LSI Language Studies International/England
                    li
                      a Lernzentrum DIA-DES/Germany
                    li
                      a LSI Porstmouth/England

        .content.land
          .PostHeadline
            p.upHeadline UNIVERSITIES
            p.Headline Choose Country from menu on the left




    // Content Wrapper
    .container-fluid.footer
      .col-md-12.Footer_hedline
        img(src='assets/images/footer-logo.png')

      .col-md-12.Footer_nav
        ul
          li
            a(href='#') HOME

          li
            a(href='#') ABOUT US

          li
            a(href='#') NEWS

          li
            a(href='#') SERVICES

          li
            a(href='#') UNIVERSITIES

          li
            a(href='#') CONTACT

        a.totoplink(href='#')
          img(src='assets/images/icon6.png')

      .col-md-12.Footer_bottomline
        p.copyright
          | ALL4YOU © 2016. 
          | All rights reserved.

        p.production
          | Design & Production:
          a(href='#') SamaDesign
          

















// Footer scripts
include assets/jade/footer-scripts-include.jade