// ALL4YOU.COM.TR
// Homepage slider

#slider-with-blocks-1.royalSlider.rsMinW
  .rsContent.slide
    a.rsImg(href='assets/images/slider/1.jpg')
    .bContainer
      span.rsABlock.txtCent.blockUpHeadline WELCOME TO OUR SITE
      strong.rsABlock.txtCent.blockHeadline You can study at university in europa without university exam with yok accreditation!
      span.rsABlock.blockBottomline

  .rsContent.slide
    a.rsImg(href='assets/images/slider/2.jpg')    
    .bContainer
      span.rsABlock.txtCent.blockUpHeadline ALL FOR YOU
      strong.rsABlock.txtCent.blockHeadline Any branch you want at any university
      span.rsABlock.blockBottomline      

  .rsContent.slide
    a.rsImg(href='assets/images/slider/3.jpg')    
    .bContainer
      span.rsABlock.txtCent.blockUpHeadline WHAT WE OFFER
      strong.rsABlock.txtCent.blockHeadline Study in any university in any country
      span.rsABlock.blockBottomline
