// ALL4YOU.COM.TR
// Homepage slider

#slider-with-blocks-1.royalSlider.rsMinW
  .rsContent.slide
    a.rsImg(href='assets/images/slider/1.jpg')
    .bContainer
      strong.rsABlock.txtCent.blockHeadline This is an animated block
      span.rsABlock.txtCent(data-move-effect='none') you can place it on any type of slide

  .rsContent.slide
    a.rsImg(href='assets/images/slider/2.jpg')    
    .bContainer
      strong.rsABlock.txtCent.blockHeadline This is an animated block
      span.rsABlock.txtCent(data-move-effect='none') you can place it on any type of slide

  .rsContent.slide
    .bContainer
      strong.rsABlock.txtCent.blockHeadline This is an animated block
      span.rsABlock.txtCent(data-move-effect='none') you can place it on any type of slide
